* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, verdana;
}
html {
    height: 100%;
    width: 100%;
}
:root {
    --main-color: red;
    --gradiant-main: linear-gradient(
        90deg,
        rgba(180, 242, 162, 1) 20%,
        rgba(17, 174, 191, 1) 90%,
        rgba(0, 0, 0, 1) 100%
    );
}

body {
    display: grid;
    grid-template-columns: 0.4fr 2fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 0.1fr;
    grid-template-areas:
        "header header header"
        "aside main main"
        "aside main main"
        "footer footer footer";
    min-height: 100vh;
}
header {
    grid-area: header;
}
aside {
    grid-area: aside;
}
main {
    grid-area: main;
    color: fff;
    background-color: #333;
}
footer {
    grid-area: footer;
}

.bg {
    background: var(--gradiant-main);
    background-attachment: fixed;
}
.card {
    width: 200px;
    height: 300px;
}
.loader {
    background-image: url(/images/sticker-512x512.png);
    background-size: contain;
    width: 150px;
    height: 150px;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
